@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

ul {
  list-style-type: none;
}

/* CSS Geral */

body {
  scroll-behavior: smooth;
  /* background-color: #0c0c0c; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.fundo {
  background-color: #0c0c0c;
}

main {
  min-height: 100vh;
  display: flex;
}

/* Formulario */
form {
  margin: 1%;
  border-radius: 30px;
  padding: 20px;
}


.formEnviaInfo {
  background-color: #F0A500;
  border-radius: 30px;
  color: #0c0c0c;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 30px;
}

.formEnviaInfo input {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
}

.formEnviaInfo button {
  width: 80px;
  cursor: pointer;
  margin-left: 5px;

}

/* Pokedex */
.pokedex {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

/* Cartão (Cards Recebidos) */

.cartao-pokemon {
  /* display: none; */
  box-shadow: hsla(240, 5%, 41%, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
}

.container .cartao-pokemon {
  padding-right: 0;
  padding-left: 0;
}

/* Nome | Span | Tipo */
.cartao-pokemon .cartao-topo {
  padding: 30px 40px 0;
}

/* Nome */
.cartao-pokemon .nome {
  margin-bottom: 5px;
}

/* Tipo */
.cartao-pokemon .tipo {
  font-size: 12px;
  background-color: #FFFFFF;
  opacity: 0.7;
  border-radius: 10px;
  padding: 2px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


/* Detalhes */
.cartao-pokemon .detalhes {
  color: #f8eaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Imagem do Pokemon (classe) */
.cartao-pokemon .cartao-imagem {
  width: 350px;
  height: 350px;
}

/* Imagem do Pokemon (img) */
.cartao-pokemon img {
  max-height: 100%;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

/* HP | Ataque | Defesa | Velocidade  */
.cartao-pokemon .cartao-informacoes {
  display: flex;
  background-color: #FFFFFF;
  padding: 80px 30px 50px;
  margin-top: -70px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Status e Habilidades */
.cartao-pokemon .cartao-informacoes h3 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #6B727A;
  display: flex;
}


.cartao-pokemon .cartao-informacoes .status, .cartao-pokemon .cartao-informacoes .habilidades {
  padding: 0 10px;
  width: 180px;
}

/* ul e Li */
.cartao-pokemon .cartao-informacoes .status ul li, .cartao-pokemon .cartao-informacoes .habilidades ul li {

  border-bottom: 1px solid #C3C4C5;
  padding: 0 0 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

#btnEnviar, #btnReset {
  color: #0c0c0c;
  border-color: #0c0c0c;
  background-color: transparent;
  background-image: none;
}

/* img {
  width: 100%;
} */